.flex {
    display: flex;
    align-items: center;
}

.jcC {
    justify-content: center;
}

.jcS {
    justify-content: space-around;
}

.fxCol {
    flex-direction: column;
}

.bgLg {
    background: linear-gradient(rgb(161, 225, 255), rgb(255, 169, 169));
}

.bgLg2 {
    background: linear-gradient(rgb(255, 169, 169, rgb(161, 225, 255)))
}

.w1200 {
    max-width: 1200px;
    min-width: 95vw;
    margin: auto;
    min-height: 100vh;
}

.form,
ul {
    width: 95%;
    height: auto;
}

input {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: all 0.5s;
}

input[type="text"] {
    width: 70%;
    margin: 0 35px;
}

input[type="submit"] {
    width: 22%;
    cursor: pointer;
}

input:hover,
input[type="text"]:focus,
button:hover {
    background: radial-gradient(rgb(255, 194, 194) 40%, rgb(161, 225, 255));
    box-shadow: 1px 0px 12px;
}

li {
    margin: 1rem;
    width: 100%;
    height: 100%;
}

li span {
    padding: 1rem;
    width: 60%;
    background: linear-gradient(rgb(161, 225, 255) 20%, rgb(255, 194, 194) 40%, rgb(161, 225, 255));
    margin: 0 30px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 2s;
    border-radius: 10px;

}

li div button {
    font-weight: 700;
    width: 25%;
    min-width: 100px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.6s;
}